{% extends 'characters/base.html' %}

{% load static %}



<body>
    {% block content %}
    <br><br><br><br><br><br><br><br><br><br>

    <div class="container">
        <div class="container">
            {%if personaje %}
            {% for x in personaje %}
            <div class="card" style="width: 18rem;">
                {{x.foto}}
                <div class="card-body">
                    <h5 class="card-title">{{x.nombre}}</h5>
                    <p class="card-text">{{x.afiliacion}}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    
                </div>
            </div>
            <br>
            {% endfor %}
            {% endif %}
        </div>
        <br>
        <div class="row">
            <button type="submit" class="btn btn-primary" name="opcion" value="Ingresar" id="elimi">Eliminar del
                carrito</button>

            <button type="submit" class="btn btn-primary" name="opcion" value="Ingresar" id="limpiar"
                style="margin-left: 10%;">limpiar
                carrito</button>

        </div>
    </div>

    <p></p>
    {% endblock %}
</body>

