{% extends 'characters/base.html' %}
{% load static %}

<body>
    {% block content %}

    <h1 align="center">Personajes</h1><br>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-ms-4">
                <table class="table" align="left">
                    {% for x in personaje %}
                    
                    <div class="card" style="width: 18rem;">
                        <img src="{{x.foto.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{x.nombre}}</h5>
                          <p class="card-text">{{x.descripcion}}</p>
                          <a href="#" class="btn btn-primary">Mas información</a>
                        </div>
                      </div>


                    


                    
                    {% endfor %}
                    
                </table>
                <br><br>
                <a href="{% url 'index' %}">Volver</a>




            </div>

        </div>




    </div>



    {% endblock %}

</body>

</html>