{% extends 'characters/base.html' %}
{% load static %}


<body>
    {% block content %}

    <h1 align="center">Productos</h1><br>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-ms-4">

                {% for x in producto %}
                
                <div class="card" style="width: 13rem;">
                    <img src="{{x.foto.url}}" class="card-img-top" alt="..." height="430px">
                    <div class="card-body">
                        <h5 class="card-title">{{x.nombre}}</h5>
                        <p class="card-text">{{x.descripcion}}</p>
                        <p class="card-text">Precio: {{x.precio}}</p>
                        <p class="card-text">Stock: {{x.stock}}</p>
                        <a href="{% url 'agregarCarrito' pk=x.id.producto %}" class="btn btn-primary">Comprar</a>
                    </div>
                </div>

            </div>

                    


                    
                    {% endfor %}
                     
                
                <br><br>
                <a href="{% url 'index' %}">Volver</a>




            </div>

        </div>




    </div>



    {% endblock %}

</body>

</html>